.userhome {
  text-align: center;
  margin-top: 75px;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-list-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* margin: 20px;
  height: 100%;
  border: 5px solid #fff; */
}

ol {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
  border: 5px solid #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 8px;
}

h4 {
  margin: 20px;
  float: left;
}

.input-MDeditor {
  width: 400px;
}

/* .note-item-container {
  background-color: green;
  color: white;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.userhome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.container-inputs {
  align-items: center;
  width: 380px;
  align-content: center;
  justify-content: center;
  position: center;
  margin: 10px;
  padding: 10px;
  background: #bef7c0;
  border-radius: 10px;
} */
/*NOOOOOOO*/
/* .note-item-container {
  background-color: green;
  color: white;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .remove-note-button {
  background: none;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-note-button:hover {
  background-color: black;
  opacity: 0.3;
} */
/*NOOOOOOOOOO*/
/* .input-container {
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.search-input {
  align-items: center;
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  width: 200px;
  border: none;
}

.input-title {
  align-items: center;
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  border: 0;
}

.input-MDeditor {
  width: 400px;
}

.grupos {
  border-radius: 4px;
  background-color: white;
}
.grupos:hover {
  border-radius: 4px;
  background-color: greenyellow;
}

.add-note-button {
  margin-left: 12px;
  border: 0;
  border-radius: 4px;
  background-color: orange;
  color: black;
  padding: 8px 12px;
}

.add-note-button:hover {
  background-color: lightsalmon;
}

.note-list {
  list-style: none;
  padding: 20px;
} */
