.container-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #17801a;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.container-header .contenedor {
  display: table;
}

.contenedor {
  width: 98%;
  margin: auto;
}

.logo-image {
  float: left;
  width: 150px;
}

/*MENU*/

#menu-bar-user {
  display: none;
}

.container-header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

.navigation-user {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(47, 160, 53, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.navigation-user ul li a {
  display: block;
  color: #fff;
  height: 1rem;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}
.navigation-user ul li .a-image {
  border-bottom: none;
}

.navigation-user > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user > ul li ul {
  list-style: none;
}

#menu-bar-user:checked ~ .navigation-user {
  transform: translateX(0%);
}

.user-image {
  max-width: 60px;
  border-radius: 50%;
  border: 2px solid white;
}

.nav li ul {
  display: none;
  position: absolute;
  margin: 15px;
}

.nav li:hover > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .navigation-user {
    position: static;
    width: 500px;
    height: auto;
    transform: translateX(0%);
    background: #17801a;
    float: right;
    transition: 0s;
    margin-top: 2px;
  }

  .navigation-user ul li a {
    border-bottom: none;
  }

  .navigation-user > .nav {
    display: flex;
    flex-wrap: wrap;
  }

  .container-header label {
    display: none;
  }

  .nav li:hover > ul {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  .navigation-user ul li .a-image {
    padding: 0;
  }

  .user-image {
    width: 45px;
  }

  .nav li ul li {
    background: #17801a;
    position: relative;
    left: -150px;
    border-radius: 8px;
  }

  .list-hover:hover {
    border-radius: 8px;
    background: rgb(47, 160, 53, 0.9);
  }

  .contenedor {
    width: 1200px;
  }
}

/* .container-header {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #17801a;
}
.navigation {
  margin: 0;
  display: flex;
  height: 50px;
  padding: 0px 1rem;
}
.image-user-list {
  height: 38px;
  width: 38px;
}

.nav-photo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logouyt-button {
  margin: 0;
  padding: 0;
}

.logo-image {
  padding: 0;
  margin: 0;
  max-width: 150px;
  max-height: 60px;
}

.nav {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  border-radius: 50%;
  border: 2px solid white;
  width: 30px;
  height: 30px;
}

ul,
ol {
  list-style: none;
}

.nav li a {
  margin: 2px;
  background-color: #17801a;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  padding: 0.5rem 1rem;
}

.nav li a:hover {
  border-radius: 4px;
  background-color: rgb(47, 160, 53);
}

.nav > li {
  float: left;
}

.a-image {
  height: 18px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: flex;
  flex-direction: column;
}

.nav li ul li {
  position: relative;
  left: -116px;
} */
