.nav-aside {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.nav-aside li a {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
  border-radius: 4px;
}
