.note-item-container {
  margin: 20px;
  height: 200px;
  width: 125px;
  border: 5px solid #fff;
  border-radius: 8px;
}

.note-item-container .note-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-wrap;
  width: 100%;
  height: 100%;
}

.note-box {
  text-decoration: none;
}

.note-box h1 {
  color: black;
  margin: 5px;
  padding: 0;
  max-width: 100%;
  word-wrap: break-word;
}
.note-box p {
  margin: 5px;
  padding: 0;
  color: grey;
  max-width: 100%;
  word-wrap: break-word;
}
