.container-footer {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  list-style-type: none;
  overflow: hidden;
  flex-direction: row;
}
li {
  list-style: none;
}

.social-links ul {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(136, 139, 141, 0.5);
  width: 100%;
}

.social-links {
  width: 100%;
}

.row-legal {
  color: #888b8d;
  display: flex;
  justify-content: space-between;
}
