.login-container {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 20px;
  margin-top: 8rem;
  margin-bottom: 15rem;
}

.wmark-login {
  width: 15rem;
}
.field-container {
  display: flex;
  text-align: start;
  flex-direction: column;
  margin: 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-login {
  padding: 8px;
  width: 18rem;
  border: 2px groove #91de93;
  border-radius: 4px;
}

.login-button-container {
  padding: 20px 0px;
}

.login-button {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  width: 19rem;
  cursor: pointer;
  background-color: #24a729;
  color: white;
  font-size: 1rem;
}

.login-container a {
  color: #1b791e;
  font-size: 1rem;
  margin: 6px auto;
  text-align: center;
  text-decoration: none;
}

.error-label {
  color: red;
  padding: 10px;
}
