.App-header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #17801a;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.App-header .header-default-container {
  display: table;
}

.img-logo {
  float: left;
}

.header-default-container {
  width: 98%;
  margin: auto;
}

/*MENU*/

#menu-bar {
  display: none;
}

.App-header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(47, 160, 53, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%);
}

.menu a {
  display: block;
  color: #fff;
  height: 1rem;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.menu a:hover {
  background: rgb(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
  transform: translateX(0%);
}

@media (min-width: 1024px) {
  .menu {
    position: static;
    width: 240px;
    height: 50px;
    transform: rotateX(0%);
    float: right;
    display: flex;
    background: #17801a;
    align-items: center;
    justify-content: center;
    justify-items: center;
    transition: 0s;
  }
  .menu a {
    border: none;
    padding: 10px;

    margin-left: 10px;
  }
  .menu a:hover {
    height: 15px;
    border-radius: 8px;
  }
  .App-header label {
    display: none;
  }

  .header-default-container {
    width: 1200px;
  }
}
