.AdminGroup {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-item-container {
  background-color: green;
  color: white;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-note-button {
  background: none;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-group-button {
  background: none;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remove-group-button:hover {
  background-color: black;
  opacity: 0.3;
}

.AdminGroup {
  text-align: center;
}

.group-list {
  list-style: none;
  padding: 20px;
  border: none;
}
