.recovery-code-form {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 20px;
  margin-top: 8rem;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recovery-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wmark-recoverycode {
  width: 15rem;
}

.field-container {
  display: flex;
  text-align: start;
  flex-direction: column;
  margin: 16px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sendmail-button-container {
  padding: 20px 0px;
}

.sendmail-button {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  width: 19rem;
  cursor: pointer;
  background-color: #24a729;
  color: white;
  font-size: 1rem;
}
