.container-home {
  width: 100%;
  margin-bottom: 25px;
}

.titulo-home {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(0%) translateY(0%);
}

.button-home {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  width: 19rem;
  cursor: pointer;
  background-color: #24a729;
  color: white;
  font-size: 1rem;
  margin-top: 90px;
}

.imagenes-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.imagenes-home img {
  margin: 3rem;
  width: 100%;
  max-width: 500px;
}

/* .container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-home {
  display: flex;
  align-items: center;
  align-content: center;
  height: 15rem;
}
h1 {
  font-family: optima;
}
.imagenes-home {
  display: flex;
  flex-direction: row;
}
img {
  max-width: 36rem;
}
.button-home-container {
  display: flex;
  align-items: flex-start;
  align-content: center;
  height: 10rem;
}
.button-home {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  width: 19rem;
  cursor: pointer;
  background-color: #24a729;
  color: white;
  font-size: 1rem;
} */
