.profile-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}

.profile-info {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
  background: white;
  border-radius: 20px;
  width: 500px;
  position: relative;
  top: 32%;
  left: 32%;
}

.avatar-profile {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
