* {
  font-family: optima, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.App {
  font-family: optima;
  background: #e6e6e6;
  margin: 0;
}

html {
  font-family: optima;
  background: #e6e6e6;
}
